# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.swp

msvc/**/Debug
msvc/**/Release
*.opensdf
*.sdf
target/bin/linux/x64/Release/*
target/lib/linux/x64/Release/*
target/build/linux/x64/Release/nimbus/nimbus
target/build/linux/x64/Release/supervisor/supervisor
target/run/supervisor
target/run/nimbus
target/build/linux/x64/Release/*

*.config
*.creator
*.creator.user
*.files
*.includes
