# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.swp

msvc/**/Debug
msvc/**/Release
*.opensdf
*.sdf
*.suo
target/linux/x64/Release/bin/*
!target/linux/x64/Release/bin/README.md
target/linux/x64/Release/lib/*
!target/linux/x64/Release/lib/README.md
target/linux/x64/Release/build/president/president
target/linux/x64/Release/build/manager/manager
target/linux/x64/Release/run/president
target/linux/x64/Release/run/manager
target/linux/x64/Release/run/*.so


target/linux/x64/Release-with-JVM/bin/*
!target/linux/x64/Release-with-JVM/bin/README.md
target/linux/x64/Release-with-JVM/lib/*
!target/linux/x64/Release-with-JVM/lib/README.md
target/linux/x64/Release-with-JVM/build/president/president
target/linux/x64/Release-with-JVM/build/manager/manager
target/linux/x64/Release-with-JVM/run/president
target/linux/x64/Release-with-JVM/run/manager
target/linux/x64/Release-with-JVM/run/*.so

Hurricane.config
*.creator
*.creator.user
*.files
*.includes
*.so
*timestamp*.txt

deps/meshy/msvc/**/x64
