# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.swp

msvc/**/Debug
msvc/**/Release
*.opensdf
*.sdf
target/linux/x64/Release/bin/*
target/linux/x64/Release/lib/*
target/linux/x64/Release/build/president/president
target/linux/x64/Release/build/manager/manager
target/linux/x64/Release/run/president
target/linux/x64/Release/run/manager
target/linux/x64/Release/run/*.so

Hurricane.config
*.creator
*.creator.user
*.files
*.includes
*.so
